/* ABOUT SECTION */
.about {
    height: 87vh;
    width: 100%;
    background-image: url("../images/frame.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* TEXT INSIDE IMAGE */
.about-text {
    position: absolute;
    inset: 0;
    background: rgba(10, 10, 10, 0.6); /* overlay */
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px;
}

.about-text h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 20px;
    max-width: 800px;
    line-height: 1.6;
}
