/* HERO */
.contact{
    height: 40vh;
    background: url("../images/bg.png")center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fcf8f8;
    font-size: 48px;
    letter-spacing: 3px;
}

/* CONTACT SECTION */
.contact-section {
    display: flex;
    background: #0e0d0d;
    color: white;
    padding: 60px;
    gap: 50px;
}

/* LEFT */
.contact-left {
    flex: 1;
}

.h5 {
    color: #cfa670;
    letter-spacing: 2px;
}

.h2 {
    font-size: 36px;
    margin: 10px 0;
}

.contact-info p {
    margin-top: 15px;
}

/* RIGHT */
.contact-right {
    flex: 1;
}

.contact-right form input,
.contact-right form textarea {
    width: 100%;
    background: #3c3636;
    border: none;
    padding: 12px;
    margin-bottom: 15px;
    color: white;
}

.contact-right textarea {
    height: 100px;
}

.contact-right button {
    background: #cfa670;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
}

/* RESERVE */
.reserve {
    height: 50vh;
    background: url("../images/bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reserve-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #c89b3c;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s ease;
}

.reserve-btn:hover {
    background-color: #c7b48c;
}

