/* MENU SECTION */
.menu {
    background-color: black;
    padding: 100px 40px;
    text-align: center;
}

.menu h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}
.card {
    background-color: #060101;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: 2px solid red;
}

/* IMAGE FIX */
.card img {
    width: 100%;
    height: 200px;          /* SAME HEIGHT */
    object-fit: cover;     /* CROPS PROPERLY */
    border-radius: 10px;
}

/* TEXT */
.card h3 {
    margin: 15px 0 5px;
    font-size: 22px;
}

.card p {
    font-size: 18px;
    color: hsl(124, 63%, 55%);
}
