/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background-color: #8B0000;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: underline;
}

/* HERO SECTION */
.hero {
    height: 88vh;
    background: url("../images/food.png");
    background-size: cover;
    background-position: center;
    color: rgb(241, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #da6410;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #f5f4f2;
}
